@page "/subjects"
@using ExamPreparationSystem.Application
@inject ExamService ExamService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3 class="mb-4 fw-bold text-white">📚 Выбор направления</h3>

<div class="row">
    @foreach (var subject in ExamService.GetSubjects())
    {
        <div class="col-md-8 mb-4">
            <div class="card bg-light text-dark shadow border-0 h-100">
                <div class="card-body d-flex flex-column p-4">
                    <h4 class="card-title fw-bold text-primary">@subject.Name</h4>
                    <p class="card-text fs-5 text-muted">@subject.Description</p>
                    <button type="button" class="btn btn-success btn-lg mt-3 fw-bold shadow-sm" @onclick="() => Start(subject.Id)">
                        Начать тестирование 📝
                    </button>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private void Start(int id)
    {
        ExamService.StartExam(id);
        Navigation.NavigateTo("/quiz");
    }
}